@font-face {
  font-family: "GothamBold";
  src: url("../fonts/Gotham-Bold.ttf") format("truetype");
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AdelleLightItalic";
  src: url("../fonts/TypeTogether - Adelle-Italic.otf") format("opentype");
}
