// Colors
$brand-primary:               #27ae60;

// Font Colors
$font-color-primary:          #000000;
$font-color-secondary:        #ffffff;

// Background Colors
$background-color-primary:    #000000;
